{% extends 'base.html' %}

{% block title %}Offer List{% endblock %}

{% block content %}
<h1>Offers</h1>
<a href="{% url 'offer:new_offer' %}">New Offer</a>
<a href="{% url 'offer:offer_search' %}">Search Offers</a>
<h3>{{ count }} offers found</h3>

<ul>
    {% for offer in offers %}
        <li>
            <a href="{% url 'offer:offer_detail' offer.id %}">{{ offer }}</a>
            {% if offer.seller == request.user %}
            <a href="{% url 'offer:offer_edit' offer.id %}">Edit</a>
            <a href="{% url 'offer:offer_delete' offer.id %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
